{
	id: <%= @camper.id %>,
	first_name: "<%= @camper.first_name %>",
	last_name: "<%= @camper.last_name %>",
	suffix: "<%= @camper.suffix %>",
	age: <%= @camper.age %>,
	birthday: "<%= @camper.birthday %>",
	grade: <%= @camper.grade %>,
	gender: "<%= @camper.gender %>",
	camps: [
		{
			camp_uri: "<%= @camp.uri %>"
		}
	],
	guardians: [
	<% @camper.guardians.each_with_index do |guardian, index| %>
		{
			first_name: "<%= guardian.first_name %>",
			middle_name: "<%= guardian.middle_name %>",
			last_name: "<%= guardian.last_name %>",
			suffix: "<%= guardian.suffix %>",
			email_address: "<%= guardian.email_address %>",
			day_phone: "<%= guardian.day_phone %>",
			evening_phone: "<%= guardian.evening_phone %>",
			mobile_phone: "<%= guardian.mobile_phone %>"
		<% if index == @camper.guardians.length-1 then %>
		}
		<% else %>
		},
		<% end %>
	<% end %>
	],
	address: {
		street_1: "<%= @camper.address.street_1 %>",
		street_2: "<%= @camper.address.street_2 %>",
		city: "<%= @camper.address.city %>",
		state: "<%= @camper.address.state %>",
		zip_code: "<%= @camper.address.zip_code %>",
		country: "<%= @camper.address.country %>"
	},
	sessions: [
	<% @sessions.each_with_index do |session, index| %>	
		<% if index == @sessions.length then break end %>
		{
			session_id: <%= session.id %>
		<% if index == @sessions.length-1 then %>
		}
		<% else %>
		},
		<% end %>
	<% end %>
	]
}