<h1>Editing session</h1>

<%= form_for([@camp, @session]) do |f| %>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', camp_session_path(@camp,@session) %> |
<%= link_to 'Back', camp_sessions_path %>