[
<% @sessions.each_with_index do |session, index| %>
	{
		id: <%= session.id %>,
		camp_uri: "<%= session.camp.uri %>",
		start_date: "<%= session.start_date %>",
		end_date: "<%= session.end_date %>",
		programs: [
		<% session.programs.each_with_index do |program, index| %>
			{
				program_id: <%= program.id %>
			<% if index == session.programs.length-1 then %>
			}
	 		<% else %>
			},
			<% end %>
		<% end %>
		]
	<% if index == @sessions.length-1 then %>
	}
	<% else %>
	},
	<% end %>
<% end %>
]