<h1>Listing sessions</h1>

<table>
  <tr>
    <th>Camp</th>
    <th>Start date</th>
    <th>End date</th>
  </tr>

<% @camp.sessions.each do |session| %>
  <tr>
    <td><%=h session.start_date %></td>
    <td><%=h session.end_date %></td>
    <td><%= link_to 'Show', camp_session_path(@camp,session) %></td>
    <td><%= link_to 'Edit', edit_camp_session_path(@camp, session) %></td>
    <td><%= link_to 'Destroy', [@camp, session], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New session', new_camp_session_path %>