<p>
  <b>Camp:</b>
  <%=h @session.camp %>
</p>

<p>
  <b>Start date:</b>
  <%=h @session.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @session.end_date %>
</p>


<%= link_to 'Edit', edit_camp_session_path(@camp, @session) %> |
<%= link_to 'Back', camp_sessions_path %>