<h1>Editing camp</h1>

<%= form_for(@camp) do |f| %>
  
  <% @camp.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>

  <p>
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :web_address %><br />
    <%= f.text_field :web_address %>
  </p>
  <p>
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </p>
  	<%= f.fields_for :address do |a| %>
	 <p>
	    <%= a.label :street_1 %><br />
	    <%= a.text_field :street_1 %>
	  </p>
	  <p>
	    <%= a.label :street_2 %><br />
	    <%= a.text_field :street_2 %>
	  </p>
	  <p>
	    <%= a.label :city %><br />
	    <%= a.text_field :city %>
	  </p>
	  <p>
	    <%= a.label :state %><br />
	    <%= a.text_field :state %>
	  </p>
	  <p>
	    <%= a.label :zip_code %><br />
	    <%= a.text_field :zip_code %>
	  </p>
	  <p>
	    <%= a.label :country %><br />
	    <%= a.text_field :country %>
	  </p>
	<% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @camp %> |
<%= link_to 'Back', camps_path %>