<h1>Listing camps</h1>

<table>
  <tr>
    <th>Uri</th>
    <th>Name</th>
    <th>Web address</th>
    <th>Email address</th>
    <th>Street 1</th>
    <th>Street 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Country</th>
  </tr>

<% @camps.each do |camp| %>
  <tr>
    <td><%=h camp.uri %></td>
    <td><%=h camp.name %></td>
    <td><%=h camp.web_address %></td>
    <td><%=h camp.email_address %></td>

	<% if camp.address %>
    	<td><%=h camp.address.street_1 %></td>
	    <td><%=h camp.address.street_2 %></td>
	    <td><%=h camp.address.city %></td>
	    <td><%=h camp.address.state %></td>
	    <td><%=h camp.address.zip_code %></td>
	    <td><%=h camp.address.country %></td>
	<% end %>
	
    <td><%= link_to 'Show', camp %></td>
    <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
    <td><%= link_to 'Destroy', camp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New camp', new_camp_path %>