{
	id: "<%= @camp.id %>",
	uri: "<%= @camp.uri %>",
	name: "<%= @camp.name %>",
	web_address: "<%= @camp.web_address %>",
	email_address: "<%= @camp.email_address %>",
	address: {
	  street_1: "<%= @camp.address.street_1 %>",
	  street_2: "<%= @camp.address.street_2 %>",
	  city: "<%= @camp.address.city %>",
	  state: "<%= @camp.address.state %>",
	  zip_code: "<%= @camp.address.zip_code %>",
	  country: "<%= @camp.address.country %>"
	},
	contacts: [
<% @camp.contacts.each_with_index do |contact, index| %>
		{
			first_name: "<%= contact.first_name %>",
			middle_name: "<%= contact.middle_name %>",
			last_name: "<%= contact.last_name %>",
			suffix: "<%= contact.suffix %>",
			email_address: "<%= contact.email_address %>",
			day_phone: "<%= contact.day_phone %>",
			evening_phone: "<%= contact.evening_phone %>",
			mobile_phone: "<%= contact.mobile_phone %>"
	<% if index == @camp.contacts.length-1 then %>
		}
	<% else %>
		},
	<% end %>
<% end %>
	]
}