<p>
  <b>Uri:</b>
  <%=h @camp.uri %>
</p>

<p>
  <b>Name:</b>
  <%=h @camp.name %>
</p>

<p>
  <b>Web address:</b>
  <%=h @camp.web_address %>
</p>

<p>
  <b>Email address:</b>
  <%=h @camp.email_address %>
</p>

<p>
  <b>Street 1:</b>
  <%=h @camp.address.street_1 %>
</p>

<p>
  <b>Street 2:</b>
  <%=h @camp.address.street_2 %>
</p>

<p>
  <b>City:</b>
  <%=h @camp.address.city %>
</p>

<p>
  <b>State:</b>
  <%=h @camp.address.state %>
</p>

<p>
  <b>Zip code:</b>
  <%=h @camp.address.zip_code %>
</p>

<p>
  <b>Country:</b>
  <%=h @camp.address.country %>
</p>

<% @camp.contacts.each do |contact| %>
	<p><%=h contact.first_name %></p>
	<p><%=h contact.middle_name %></p>
	<p><%=h contact.last_name %></p>
	<p><%=h contact.suffix %></p>
	<p><%=h contact.email_address %></p>
	<p><%=h contact.mobile_phone %></p>
	<p><%=h contact.day_phone %></p>
	<p><%=h contact.evening_phone %></p>
<% end %>


<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>