<% content_for :head_css do %>
  <%= stylesheet_link_tag 'register' %>
<% end %>

<% content_for :body_js do %>
<% end %>

<div class="container">
  <%= form_tag(:controller => "registrations", :action => "create", :method => "post" ) do %>

    <div class="row-fluid">
      <div class="control-group"> 
        <%= label_tag(:camper_first_name, "Name:", :class => "control-label") %>
        <div class="controls"> 
          <%= text_field(:camper, :first_name, :placeholder => "First Name", :class => "span3")%>
          <%= text_field(:camper, :middle_name, :placeholder => "Middle Name", :class => "span2") %>
          <%= text_field(:camper, :last_name, :placeholder => "Last Name", :class => "span3") %>
          <%= select(:camper, :suffix, ["", "Sr.", "Jr.", "III", "IV", "V", "VI"], {}, {:class => "span1"})%>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <%= label_tag(:camper_birthday, "Birthday:") %>
        <%= 
          date_select(:camper, :birthday, {
              :order => [:month, :day, :year], 
              :start_year => 1900, 
              :end_year => Time.now.year,
              :use_short_month => true,
              :prompt => {
                :month => "-- Month --",
                :day => "-- Day --",
                :year => "-- Year --", 
              }
            }, 
            {:class => "span2"} 
          ) 
        %>
      </div>
      
      <div class="span1">
        <%= label_tag(:camper_grade, "Grade:") %>
        <%= 
          select(:camper, :grade, 
            (["", "K"] | (1..12).to_a), 
            {}, 
            {:class => "span1"}
          )
        %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="control-group"> 
      <%= label_tag(:camper_gender, "Gender:", :class => "control-label") %>
      <%= select(:camper, :gender, [["", ""],["Female", "F"],["Male", "M"]], {}, {:class => "span2"})%>
    </div>
    </div>
    
    <div class="row-fluid">
      <div class="control-group"> 
        <%= label_tag(:camper_address_street_1, "Address:", :class => "control-label") %>
        
        <div class="controls"> 
          <%= text_field(:address, :street_1, :placeholder => "Street 1", :class => "span4") %>
          <br/>
          <%= text_field(:address, :street_2, :placeholder => "Street 2", :class => "span4") %>
          <br/>
          <%= text_field(:address, :city, :placeholder => "City", :class => "span2") %>
          <%= text_field(:address, :state, :placeholder => "State", :class => "span1") %>
          <%= text_field(:address, :zip_code, :placeholder => "Zip Code", :class => "span2") %>
          <br/>
          <%= text_field(:address, :country, :placeholder => "Country", :class => "span3") %>
        </div>
      </div>
    </div>
    
    <div class="camper-guardians">
      <div class="row-fluid">
        <div class="control-group"> 
          <%= label_tag(:camper_first_name, "Name:", :class => "control-label") %>
          <div class="controls"> 
            <%= text_field(:camper, :first_name, :placeholder => "First Name", :class => "span3")%>
            <%= text_field(:camper, :middle_name, :placeholder => "Middle Name", :class => "span2") %>
            <%= text_field(:camper, :last_name, :placeholder => "Last Name", :class => "span3") %>
            <%= select(:camper, :suffix, ["", "Sr.", "Jr.", "III", "IV", "V", "VI"], {}, {:class => "span1"})%>
          </div>
        </div>
      </div>
    
      <%= label_tag(:guardian_email_address, "E-mail:") %>
        <%= text_field(:contact, :email_address, :placeholder => "john_doe@campbeat.com", :class => "span4") %>
    
      <%= label_tag(:guardian_day_phone, "Day Phone:") %>
        <%= text_field(:contact, :day_phone, :placeholder => "XXX-XXX-XXXX", :class => "span2") %>
    
      <%= label_tag(:guardian_evening_phone, "Evening Phone:") %>
        <%= text_field(:contact, :evening_phone, :placeholder => "XXX-XXX-XXXX", :class => "span2") %>
    
      <%= label_tag(:guardian_mobile_phone, "Mobile Phone:") %>
        <%= text_field(:contact, :mobile_phone, :placeholder => "XXX-XXX-XXXX", :class => "span2") %>
    </div>
    
    <div class="camper-program">
      <%= label_tag(:camper_session, "Session:") %>
      <%= select("sessions", "id", @camp.sessions.all.collect {|s| [ "#{s.start_date} to #{s.end_date}", s.id ] })%>
      
      <%= label_tag(:camper_program, "Program:") %>
      <%= select("programs", "id", @camp.programs.all.collect {|p| [ "#{p.name} - $#{p.price}", p.id ] })%>
    </div>
    
    <%= submit_tag 'Register Camper' %>
  <% end %>
</div>