<h1>Editing program</h1>

<%= form_for [@camp, @program] do |f| %>
  
  <% @program.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :min_age %><br />
    <%= f.text_field :min_age %>
  </p>
  <p>
    <%= f.label :max_age %><br />
    <%= f.text_field :max_age %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', camp_program_path(@camp,@program) %> |
<%= link_to 'Back', camp_programs_path %>