<h1>Listing programs</h1>

<table>
  <tr>
    <th>Camp</th>
    <th>Name</th>
    <th>Description</th>
    <th>Min age</th>
    <th>Max age</th>
    <th>Cost</th>
	<th>Session Id</th>
	<th>Current Pop.</th>
	<th>Max Pop.</th>
  </tr>

<%= @camp.programs.each do |program| %>
  <tr>
    <td><%=h program.camp %></td>
    <td><%=h program.name %></td>
    <td><%=h program.description %></td>
    <td><%=h program.min_age %></td>
    <td><%=h program.max_age %></td>
    <td><%=h program.price %></td>

	<%= program.program_populations.each do |programPop| %>
		<td><%=h programPop.session_id %></td>
		<td><%=h programPop.current_population %></td>
		<td><%=h programPop.max_population %></td>
	<% end %>
	
    <td><%= link_to 'Show', camp_program_path(@camp, program) %></td>
    <td><%= link_to 'Edit', edit_camp_program_path(@camp, program) %></td>
    <td><%= link_to 'Destroy',[@camp,program], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New program', new_camp_program_path %>