<h1>New program</h1>

<%= form_for [@camp, @program] do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :min_age %><br />
    <%= f.text_field :min_age %>
  </p>
  <p>
    <%= f.label :max_age %><br />
    <%= f.text_field :max_age %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
	
  	<%= f.fields_for :program_populations  do |p| %>
		<p>
		  <%= p.label :session_id %><br />
		  <%= p.text_field :session_id %>
		</p>
		<p>
	      <%= p.label :current_population %><br />
		  <%= p.text_field :current_population %>
		</p>
		<p>
	      <%= p.label :max_population %><br />
		  <%= p.text_field :max_population %>
		</p>
	<% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', camp_programs_path %>