{
	id: <%= @program.id %>,
	camp_uri: "<%= @program.camp.uri %>",
	name: "<%= @program.name %>",
	description: "<%= @program.description %>",
	min_age: <%= @program.min_age %>,
	max_age: <%= @program.max_age %>,
	price: <%= @program.price %>,
	sessions: [
	<% @program.program_populations.each_with_index do |pop, index| %>
		{
			session_id: <%= pop.session.id %>,
			current_population: <%= pop.current_population %>,
			max_population: <%= pop.max_population %>
		<% if index == @program.program_populations.length-1 then %>
		}
 		<% else %>
		},
		<% end %>
	<% end %>
	]
}