<p>
  <b>Camp:</b>
  <%=h @program.camp %>
</p>

<p>
  <b>Name:</b>
  <%=h @program.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @program.description %>
</p>

<p>
  <b>Min age:</b>
  <%=h @program.min_age %>
</p>

<p>
  <b>Max age:</b>
  <%=h @program.max_age %>
</p>

<p>
  <b>Cost:</b>
  <%=h @program.price %>
</p>


<%= link_to 'Edit', edit_camp_program_path(@camp, @program) %> |
<%= link_to 'Back', camp_programs_path %>