<h1>Editing camper</h1>

<%= form_for(@camper) do |f| %>
  
  <% @camper.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.datetime_select :birthday %>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.check_box :gender %>
  </p>
	<% for camp in Camp.all %>
	<div>
	  <%= check_box_tag "camper[camp_ids][]", camp.id, @camper.camps.include?(camp) %>
	  <%= camp.name %>
	</div>
	<% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<%= end %>

<%= link_to 'Show', @camper %> |
<%= link_to 'Back', campers_path %>