<h1>Listing campers</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>List name</th>
    <th>Age</th>
    <th>Birthday</th>
    <th>Grade</th>
    <th>Gender</th>
	<th>Camp</th>
  </tr>

<% @campers.each do |camper| %>
  <tr>
    <td><%=h camper.first_name %></td>
    <td><%=h camper.middle_name %></td>
    <td><%=h camper.last_name %></td>
    <td><%=h camper.age %></td>
    <td><%=h camper.birthday %></td>
    <td><%=h camper.grade %></td>
    <td><%=h camper.gender %></td>
	<% camper.camps.each do |camp| %>
		<td><%=h camp.name %></td>
	<% end %>
    <td><%= link_to 'Show', camper %></td>
    <td><%= link_to 'Edit', edit_camper_path(camper) %></td>
    <td><%= link_to 'Destroy', camper, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New camper', new_camper_path %>