<p>
  <b>First name:</b>
  <%=h @camper.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @camper.middle_name %>
</p>

<p>
  <b>List name:</b>
  <%=h @camper.last_name %>
</p>

<p>
  <b>Age:</b>
  <%=h @camper.age %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @camper.birthday %>
</p>

<p>
  <b>Grade:</b>
  <%=h @camper.grade %>
</p>

<p>
  <b>Gender:</b>
  <%=h @camper.gender %>
</p>

<p>
  <b>Camps:</b>
  	<% @camper.camps.each do |camp| %>
		<%=h camp.name %>
	<% end %>
</p>


<%= link_to 'Edit', edit_camper_path(@camper) %> |
<%= link_to 'Back', campers_path %>