/* Used for Common Styles that will be re-used throughout the web app */

/************** Text ****************/

/****
body {
}
*****/

/************** Titles ****************/ 

/************** Form Fields ****************/

/*****
input, textarea, select {
}
****/

/************** Links ****************/

/*****
a {
	
}
a:hover {
	
}
****/

/************** Utility classes ****************/

.cb-reset-box {
	/*
		Forces a block elements to expand to contain floats,
		trigger hasLayout, and work better in browsers.
	*/
	overflow: hidden;
	position: relative;
	zoom: 1;
}
.cb-hide {
	display: none !important;
}
.cb-invisible {
	visibility: hidden !important;
}