<script>
  var djConfig = {
	modulePaths : {
	  'campbeat' : '../../campbeat'
	}
  };
</script>
<%= javascript_include_tag "dojo-toolkit-1.6.1/dojo/dojo" %>
<script>
  dojo.require("campbeat.base");
</script>