[
<% @contacts.each_with_index do |contact, index| %>
		{
			id: "<%= contact.id %>",
			first_name: "<%= contact.first_name %>",
			middle_name: "<%= contact.middle_name %>",
			last_name: "<%= contact.last_name %>",
			suffix: "<%= contact.suffix %>",
			email_address: "<%= contact.email_address %>",
			day_phone: "<%= contact.day_phone %>",
			evening_phone: "<%= contact.evening_phone %>",
			mobile_phone: "<%= contact.mobile_phone %>"
	<% if index == @contacts.length-1 then %>
		}
	<% else %>
		},
	<% end %>
<% end %>
]