<!DOCTYPE html>
<html>
  <head>
    <title>Campbeat</title>
    <%= stylesheet_link_tag "application" %>
    <%= yield :head_css %>

    <%= javascript_include_tag "dojo-toolkit-1.6.1/dojo/dojo", :'data-dojo-config' => %Q(baseUrl: '/assets', modulePaths: {campbeat: 'campbeat'}) %>
    <%= javascript_include_tag "application" %>
    <script>
      dojo.require("campbeat.base");
    </script>

    <%= csrf_meta_tag %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="user_nav">  
      <% if user_signed_in? %>  
        Signed in as <%= current_user.email %>. Not you?  
        <%= link_to "Sign out", destroy_user_session_path %>  
      <% else %>  
        <%= link_to "Sign up", new_user_registration_path %> or  
        <%= link_to "Sign in", new_user_session_path %>  
      <% end %>  
    </div>

    <%= yield %>

    <%= yield :body_js %>
  </body>
</html>
