<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Camps: <%= controller.action_name %></title>

  <%= stylesheet_link_tag 'common' %>
  <%= yield :stylesheets %>

  <%= render "common/dojo_scaffold" %>
  <%= yield :scripts %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="user_nav">  
  <% if user_signed_in? %>  
    Signed in as <%= current_user.email %>. Not you?  
    <%= link_to "Sign out", destroy_user_session_path %>  
  <% else %>  
    <%= link_to "Sign up", new_user_registration_path %> or  
    <%= link_to "Sign in", new_user_session_path %>  
  <% end %>  
</div>
<div id="content"><%= content_for?(:registration) ? yield(:registration) : yield %></div>
</body>
</html>
